# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/

# Environment Variables
.env
.env.*
!.env.example

# FastAPI / Logs
*.log

# VS Code
.vscode/

# JetBrains
.idea/

# OS Files
.DS_Store
Thumbs.db

# Python Packaging
build/
dist/
*.egg-info/

# Frontend
node_modules/
frontend/node_modules/
frontend/dist/

# Testing
.pytest_cache/
.coverage

# Databases
*.db
*.sqlite3

# ChromaDB
chroma_db/

# Alembic Cache
migrations/versions/__pycache__/

# SQL Dumps
*.sql